<h3>Filiais</h3><br>

<% @subsidiaries.empty? %>
  <p>Não existem filiais cadastradas.</p>


<% @subsidiaries.each do |s| %>
  <%= link_to s.name, subsidiary_path(s.id) %>
<%end%>

<%= link_to 'Cadastrar nova filial', new_subsidiary_path %>

<%= link_to 'Voltar', root_path %>