<h1>Registrar novo fabricante</h1>

<% if @manufacturer.errors.any? %>
  <ul>
    <% @manufacturer.errors.full_messages.each do |message| %>
      <li> <%= message %></li>
    <% end %>
  </ul>
<% end %>
<%= render 'manufacturers_form'%>